.home {
    background-color: #ffdac1;
    padding: 2rem;
    opacity: 0.9;
    margin-bottom: 0.5rem;
    position: relative;

    canvas {
      position: absolute;
      top: 0;
      left: 0;

    }

    .content {
      position: relative;
      z-index: 1;
    }

    p {
        font-size: 0.9rem;
        margin-bottom: 0.65rem;
    }


    .link {
        color:#5B0E2D;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 0.3125rem; 
        text-decoration-color:  #8d7a36;
        text-decoration-style: single;
        transition-duration: 0.4s;
    }

    .link:hover {
      color:rgba(228, 175, 177, 0.85);
      text-decoration-color:  rgba(228, 175, 177, 0.85);
    }

    .icon {
        color: #5B0E2D;
        font-size: 1rem;
        margin: 0 0.2rem;
        position: relative;
        top: 0.2rem;
        text-decoration: none;
        transition-duration: 0.4s;
      }
  
      .icon:hover {
        color: #ddc15b;
        -webkit-filter: drop-shadow(1px 1px 0 #fce38a)
        drop-shadow(-1px -1px 0 #fce38a);
        filter: drop-shadow(1px 1px 0 #fce38a) 
        drop-shadow(-1px -1px 0 #fce38a) drop-shadow(0 0 0.5rem #fce38a);
      }
}

.updates {
  background-color: rgba(144, 201, 247, 0.199);
  padding: 0.8rem 2rem;

  h5 {
    margin-bottom: 0;
  }
}