.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #bb8655;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight:bold;
    opacity: 0.7;
    text-decoration: underline;
    text-decoration-thickness: 0.3125rem; 
    text-decoration-color:  #bb8655;
    text-decoration-style: single;
    transition-duration: 0.4s;
}

.title:hover {
    color: rgba(144, 201, 247, 0.514);
    opacity: 1;
    text-decoration-color:  rgba(144, 201, 247, 0.514);
}

.nav-list {
    list-style-type: none;
    margin: 0;
}

.nav-list-right {
    display: flex;
    float: right;

    .nav-item {
        color:#bb8655;
        font-size: 1rem;
        font-weight: 500;
        margin-right: 1.3rem;
        text-decoration: none;
        transition-duration: 0.4s;
    }
    
    .nav-item:hover {
        color:rgba(144, 201, 247, 0.705);
        opacity: 0.8;
        text-decoration: underline;
        text-decoration-thickness: 0.3125rem; 
        text-decoration-color:  rgba(144, 201, 247, 0.705);
        text-decoration-style: single;
        -webkit-filter: drop-shadow(1px 1px 0 #fce38a)
        drop-shadow(-1px -1px 0 #fce38a);
        filter: drop-shadow(1px 1px 0 #fce38a) 
        drop-shadow(-1px -1px 0 #fce38a) drop-shadow(0 0 0.5rem #fce38a);
    }
    
    .active-nav-item {
        color: rgb(120, 120, 151);
    }
}
