.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #bb8655;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight:bold;
    opacity: 0.7;
    text-decoration: underline;
    text-decoration-thickness: 0.3125rem; 
    text-decoration-color:  #bb8655;
    text-decoration-style: single;
    transition-duration: 0.4s;
}

.title:hover {
    color: #d11c00;
    opacity: 1;
    text-decoration-color:  #d11c00;
}

.nav-list {
    list-style-type: none;
    margin: 0;
}

.nav-list-right {
    display: flex;
    float: right;

    .nav-item {
        color:#bb8655;
        font-size: 1rem;
        font-weight: 500;
        margin-right: 1.3rem;
        text-decoration: none;
        transition-duration: 0.4s;
    }
    
    .nav-item:hover {
        color:#d11c00ab;
        opacity: 0.8;
        text-decoration: underline;
        text-decoration-thickness: 0.3125rem; 
        text-decoration-color:  #d11c00ab;
        text-decoration-style: single;
    }
    
    .active-nav-item {
        color: rgb(120, 120, 151);
    }
}
